body{
    background-image: url('../../new-challengers.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
h1,h2,h3,h4{
    color: $color-2;
}
.log-container span{
    cursor: pointer;
}
.icons-bis{
    width: 50px;
    & a :hover{
        //background-color: $color-5;
        border-style: groove;
        border-color: $color-5;
        box-shadow: 1px 1px 12px $color-5;
    }
}

.update-container{
    display: flex;
    justify-content: space-evenly;
}

.right-part{
   position: absolute;
   right: 50px;
   bottom: 200px;
    & img{
        height: 300px;
        width: 300px;
    }
    
}
