body{
    background-image: url('../../new-challengers.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
h1,h2,h3,h4{
    color: $color-2;
}
.log-container span{
    cursor: pointer;
}
.icons-bis{
    width: 50px;
    & a :hover{
        //background-color: $color-5;
        border-style: groove;
        border-color: $color-5;
        box-shadow: 1px 1px 12px $color-5;
    }
}

.update-container{
    display: flex;
    justify-content: space-evenly;
}

.right-part{
   position: absolute;
   right: 120px;
   bottom: 200px;
   
    & img{
        height: 300px;
        width: 300px;
    }
    & input{
        margin-top: 10px;
        border-radius: 5px;
        border: none;
        background-color: $color-5;
        padding: 5px;
    }
    & input:hover{
        box-shadow: 1px 1px 12px $color-5;
        cursor: pointer;
    }
    & label{
        color: $color-2;
    }
    
}
.left-part{
    position: absolute;
    left: 50px;
    bottom: 200px;
    
    & p,h5{
        color: $color-2;
    }
    & button{
        margin-top: 10px;
        border-radius: 5px;
        border: none;
        background-color: $color-5;
        padding: 5px;
    }
    & button:hover{
        box-shadow: 1px 1px 12px $color-5;
        cursor: pointer;
    }
}
.bio-update{
    border: solid 2px $color-2;
    border-radius: 5px;
    background-color: $color-3;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
