.scene{
    position: absolute;
    transform-style: preserve-3d;
    animation: sceneRotate var(--rotateSpeed) infinite linear;
    
    @keyframes sceneRotate{
      to { transform: rotateY(360deg); }
    }
  }
  a{
    text-decoration: none;
    color: var(--boxColor)
  }
  
  .cvShadow{
    position: absolute;
    width: 100%;
    height:100%;
    background-color: rgb(55,55,65);
    background-image: radial-gradient(#0007, #0000 50%);
  }
  .offbtn{
    position: absolute;
    background-color: #D7D7D5;
    width: 15px;
    height: 15px;
    left: 5px;
    top: 10px;
    border-radius: 100%;
  }
  .cube{
    width: 2em;
    height: 2em;
    transform-style: preserve-3d;
    position: absolute;
    top: -1em;
    left:-1em;
    
    .left, .right, .front, .back {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #0a0a0a;
      box-shadow: 0 0 0.5em #000 inset;
    }
    .front { transform: translateZ(1em);
    display:flex;
    justify-content: center;
    align-items: center;}
    .right { transform: rotateY(90deg) translateZ(1em);
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .back { transform: rotateY(180deg) translateZ(1em);
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .arc{
      transform: rotateY(180deg)
      translateZ(1.01em);
      box-shadow: 0 0 0 #000;
      position: absolute;
      background: #000;
      width: 150px;
      height: 18px;
      border-radius: 50%;
      top: 50px;
      clip-path: circle(50% at 50% 50%);
    }
    .arc2{
      transform: rotateY(-200deg)
      translateZ(1.2em);
      box-shadow: 0 0 0 #000;
      position: absolute;
      background: #000;
      width: 100px;
      height: 18px;
      left: 25px;
      border-radius: 50%;
      top: 50px;
      clip-path: circle(50% at 50% 50%);
    }
    .arc3{
      transform: rotateY(200deg)
      translateZ(1.2em);
      box-shadow: 0 0 0 #000;
      position: absolute;
      background: #000;
      width: 100px;
      height: 18px;
      right: 25px;
      border-radius: 50%;
      top: 50px;
      clip-path: circle(50% at 50% 50%);
    }
    .left { 
      transform: rotateY(270deg) translateZ(1em);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .vents{
      position: absolute;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      background-image: 
      radial-gradient(#0000, #000 100%),
      repeating-conic-gradient(
      from 90deg,
      #000 0deg 90deg,
      var(--boxColor) 90deg 180deg);
      background-size: 100%, 10px 10px;
    }
    .top{ 
      position: absolute;
      width: 2em;
      height: 2em;
      background: var(--boxColor);
      transform: translateY(-50%) rotateX(90deg);
      box-shadow: 0 0 0.5em #000 inset;
    }
    .bottom{ 
      position: absolute;
      width: 2em;
      height: 2em;
      background: #0007;
      bottom: 0;
      transform: translateY(-50%) rotateX(90deg);
      box-shadow: 0 0 0.5em #000;
    }
    .frontplug{
      position: absolute;
      width: 80%;
      height: 40%;
      background: #D7D7D5;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: inset 0px 0px 31px 7px var(--boxColor), inset 0px 0px 0px 50px #D7D7D5;
      
      
    }
    .frontpartplug{
      position: absolute;
      width: 95%;
      height: 100%;
      background: #D7D7D5;
      -webkit-box-shadow: inset 1px 0px 25px 4px #373741; 
      box-shadow:  1px 0px 25px 4px         var(--boxColor);
      border-radius: 1px;
     
    }
     .frontpartplug:nth-child(-n+3){
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
    
    .usbport{
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: #000;
      display: flex;
      align-items: center;
      & p{
        position: absolute;
        color: grey;
        bottom: 30px;
        font-size: 20px;
      }
    }
    .memory{
      position : absolute;
      border: 1px solid #000;
      width: 20px;
      height: 2px;
      bottom : 10px;
      right: 15px;
      border-radius:2px;
    }
    .memory1{
      position : absolute;
      border: 1px solid #000;
      width: 20px;
      height: 2px;
      bottom : 10px;
      left: 15px;
      border-radius:2px;
    }
   
  }
  .floor{
    position: absolute;
    top: 1em;
    transform: translate(-50%, -50%)
      rotateX(90deg);
    width: 20em;
    height: 15em;
    background-image:  url(https://images.gamebanana.com/img/ss/mods/57b9248831b7d.jpg);
    background-size: 100%, 1em 1em;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  }
  .heya{
    top: 0;
    left:20px;
    position: absolute;
    color: #fff;
  }
  .Login{
    width: 100%;
    height: 100%;
  }