@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

$font-1: "Poppins", sans-serif;

$color-1: #61dafb;
$color-2: #f7f7f7;
$color-3: #282c34;
$color-4: rgb(32, 35, 42);
$color-5: #e8bc1e;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: $font-1;
  color: $color-3;
  
}
.home {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  perspective: 10em;
  perspective-origin: 50% calc(50% - 2em);
  
}

.navigation{
  font-size: 75px;
  z-index: 1;
position: absolute;
display: flex;
justify-content: space-between;
top: 20px;
right: 20px;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $color-2;
  cursor: pointer;
  margin: 10px;
  margin-right: 50px;
}

.nav-active{
  color: $color-2;
  
}


// animation destination finale
:root {
    --boxColor: rgba(55,55,65,0.7);
    --rotateSpeed: 30s;
    --bounceSpeed: 1.5s;
  }

  .video{
    background-size: cover;
    width: 100%;
    height: 100%;
}
.audio{
  position: absolute;
  top: 200px;
  left: 10px;
}
