@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #282c34;
}

.home {
  background-color: #000;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 75px;
  -webkit-perspective: 10em;
          perspective: 10em;
  -webkit-perspective-origin: 50% calc(50% - 2em);
          perspective-origin: 50% calc(50% - 2em);
}

.navigation {
  font-size: 75px;
  z-index: 1;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 20px;
  right: 20px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #f7f7f7;
  cursor: pointer;
  margin: 10px;
  margin-right: 50px;
}

.nav-active {
  color: #f7f7f7;
}

:root {
  --boxColor: rgba(55,55,65,0.7);
  --rotateSpeed: 30s;
  --bounceSpeed: 1.5s;
}

.video {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.audio {
  position: absolute;
  top: 200px;
  left: 10px;
}

.scene {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: sceneRotate var(--rotateSpeed) infinite linear;
          animation: sceneRotate var(--rotateSpeed) infinite linear;
}
@-webkit-keyframes sceneRotate {
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes sceneRotate {
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

a {
  text-decoration: none;
  color: var(--boxColor);
}

.cvShadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #373741;
  background-image: radial-gradient(#0007, #0000 50%);
}

.offbtn {
  position: absolute;
  background-color: #D7D7D5;
  width: 15px;
  height: 15px;
  left: 5px;
  top: 10px;
  border-radius: 100%;
}

.cube {
  width: 2em;
  height: 2em;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  top: -1em;
  left: -1em;
}
.cube .left, .cube .right, .cube .front, .cube .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0a0a0a;
  -webkit-box-shadow: 0 0 0.5em #000 inset;
          box-shadow: 0 0 0.5em #000 inset;
}
.cube .front {
  -webkit-transform: translateZ(1em);
          transform: translateZ(1em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cube .right {
  -webkit-transform: rotateY(90deg) translateZ(1em);
          transform: rotateY(90deg) translateZ(1em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cube .back {
  -webkit-transform: rotateY(180deg) translateZ(1em);
          transform: rotateY(180deg) translateZ(1em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cube .arc {
  -webkit-transform: rotateY(180deg) translateZ(1.01em);
          transform: rotateY(180deg) translateZ(1.01em);
  -webkit-box-shadow: 0 0 0 #000;
          box-shadow: 0 0 0 #000;
  position: absolute;
  background: #000;
  width: 150px;
  height: 18px;
  border-radius: 50%;
  top: 50px;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}
.cube .arc2 {
  -webkit-transform: rotateY(-200deg) translateZ(1.2em);
          transform: rotateY(-200deg) translateZ(1.2em);
  -webkit-box-shadow: 0 0 0 #000;
          box-shadow: 0 0 0 #000;
  position: absolute;
  background: #000;
  width: 100px;
  height: 18px;
  left: 25px;
  border-radius: 50%;
  top: 50px;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}
.cube .arc3 {
  -webkit-transform: rotateY(200deg) translateZ(1.2em);
          transform: rotateY(200deg) translateZ(1.2em);
  -webkit-box-shadow: 0 0 0 #000;
          box-shadow: 0 0 0 #000;
  position: absolute;
  background: #000;
  width: 100px;
  height: 18px;
  right: 25px;
  border-radius: 50%;
  top: 50px;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}
.cube .left {
  -webkit-transform: rotateY(270deg) translateZ(1em);
          transform: rotateY(270deg) translateZ(1em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cube .vents {
  position: absolute;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: radial-gradient(#0000, #000 100%), repeating-conic-gradient(from 90deg, #000 0deg 90deg, var(--boxColor) 90deg 180deg);
  background-size: 100%, 10px 10px;
}
.cube .top {
  position: absolute;
  width: 2em;
  height: 2em;
  background: var(--boxColor);
  -webkit-transform: translateY(-50%) rotateX(90deg);
          transform: translateY(-50%) rotateX(90deg);
  -webkit-box-shadow: 0 0 0.5em #000 inset;
          box-shadow: 0 0 0.5em #000 inset;
}
.cube .bottom {
  position: absolute;
  width: 2em;
  height: 2em;
  background: #0007;
  bottom: 0;
  -webkit-transform: translateY(-50%) rotateX(90deg);
          transform: translateY(-50%) rotateX(90deg);
  -webkit-box-shadow: 0 0 0.5em #000;
          box-shadow: 0 0 0.5em #000;
}
.cube .frontplug {
  position: absolute;
  width: 80%;
  height: 40%;
  background: #D7D7D5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset 0px 0px 31px 7px var(--boxColor), inset 0px 0px 0px 50px #D7D7D5;
          box-shadow: inset 0px 0px 31px 7px var(--boxColor), inset 0px 0px 0px 50px #D7D7D5;
}
.cube .frontpartplug {
  position: absolute;
  width: 95%;
  height: 100%;
  background: #D7D7D5;
  -webkit-box-shadow: inset 1px 0px 25px 4px #373741;
  box-shadow: 1px 0px 25px 4px var(--boxColor);
  border-radius: 1px;
}
.cube .frontpartplug:nth-child(-n+3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.cube .usbport {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cube .usbport p {
  position: absolute;
  color: grey;
  bottom: 30px;
  font-size: 20px;
}
.cube .memory {
  position: absolute;
  border: 1px solid #000;
  width: 20px;
  height: 2px;
  bottom: 10px;
  right: 15px;
  border-radius: 2px;
}
.cube .memory1 {
  position: absolute;
  border: 1px solid #000;
  width: 20px;
  height: 2px;
  bottom: 10px;
  left: 15px;
  border-radius: 2px;
}

.floor {
  position: absolute;
  top: 1em;
  -webkit-transform: translate(-50%, -50%) rotateX(90deg);
          transform: translate(-50%, -50%) rotateX(90deg);
  width: 20em;
  height: 15em;
  background-image: url(https://images.gamebanana.com/img/ss/mods/57b9248831b7d.jpg);
  background-size: 100%, 1em 1em;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
          clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.heya {
  top: 0;
  left: 20px;
  position: absolute;
  color: #fff;
}

.Login {
  width: 100%;
  height: 100%;
}

.form {
  color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 10em;
  left: 25em;
  background: #3849c3;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(7%, rgba(33, 48, 156, 0.914)), color-stop(15%, rgba(28, 83, 223, 0.874)), color-stop(83%, rgba(4, 21, 57, 0.868785014)));
  background: linear-gradient(0deg, rgba(33, 48, 156, 0.914) 7%, rgba(28, 83, 223, 0.874) 15%, rgba(4, 21, 57, 0.868785014) 83%);
}
.form input {
  border-radius: 0 0 50px;
  -webkit-box-shadow: 0px 0px 20px 5px #e8bc1e;
          box-shadow: 0px 0px 20px 5px #e8bc1e;
  background: #e8bc1e;
  border: none;
  height: 25px;
  margin-top: 10px;
}

.loginBtn {
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: #282c34;
  font-size: 18px;
  background-color: #e8bc1e;
}
.loginBtn:hover {
  background-color: #282c34;
  color: #e8bc1e;
}

.createUser {
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: #282c34;
  font-size: 18px;
  background-color: #e8bc1e;
  margin-top: 10px;
}
.createUser:hover {
  background-color: #282c34;
  color: #e8bc1e;
}

.formSwitch {
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: #282c34;
  font-size: 18px;
  background-color: #e8bc1e;
}
.formSwitch:hover {
  background-color: #282c34;
  color: #e8bc1e;
}

body {
  background-image: url("../../new-challengers.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}
/*# sourceMappingURL=index.css.map */